Source: python-perlmodule
Section: python
Priority: extra
Maintainer: Nikolay Bryskin <devel.niks@gmail.com>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.3
X-Python3-Version: >= 3.3
Homepage: https://github.com/nikicat/python-perlmodule
Vcs-Git: git+ssh://git@github.com:nikicat/python-perlmodule.git
Vcs-Browser: https://github.com/nikicat/python-perlmodule

Package: libpython-perl
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ${perl:Depends}
Description: Python perl module (needed for pyperl)
 This is a Python extension module that makes it possible to embed Perl
 interpreter(s) in any Python program.  It can be used to invoke
 arbitrary Perl code, load any Perl modules and make calls directly
 into Perl functions.  The Perl code invoked can call back into Python
 as it see fit.

Package: python-perlmodule
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ${python:Depends}, python-support (>= 0.90), libpython-perl (= ${binary:Version})
Description: pyperl - Perl for Python2
 This is a Python extension module that makes it possible to embed Perl
 interpreter(s) in any Python program.  It can be used to invoke
 arbitrary Perl code, load any Perl modules and make calls directly
 into Perl functions.  The Perl code invoked can call back into Python
 as it see fit.

Package: python3-perlmodule
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ${perl:Depends}, python3.3, python-support (>= 0.90), libpython-perl (= ${binary:Version})
Description: pyperl - Perl for Python3
 This is a Python extension module that makes it possible to embed Perl
 interpreter(s) in any Python program.  It can be used to invoke
 arbitrary Perl code, load any Perl modules and make calls directly
 into Perl functions.  The Perl code invoked can call back into Python
 as it see fit.

